#userBookings {

  margin: 35px;
  .card {
    margin-bottom: 20px;
  }

  h1 {
    margin-bottom: 20px;
  }

  .new{
    font-size: 19px !important;
  }

  .btn-bwm {
    margin-top: 10px;
    color: white;
    font-size: 14px;
    padding: 15px;
    background-color: #fc6156;
  }
}
