.bwm-form {
  
  margin-left: 15px;
  margin-right: 15px;

  .new{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    
  }
  input{ 
    width:150%;
  }

  .alert {
    p {
      margin: 0;
    }
  }
  .image-container {
    position: relative;
    margin-right: 25px;

    img {
      width: 125%;
      border-radius: 5px;
      height: 400px;
    }
  }

  label {
    font-size: 15px;
    font-weight: 10px;
    letter-spacing: 1px;
  }

  .form-text {
    font-size: 13px;
  }

  .btn{
    background-color: red;
    color: white;
    &:hover, &:focus{
      background-color:green;
    }
  }

  .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba(0,0,0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px;
  }
}
