a{
	&:hover,&:focus{
		text-decoration:none;

	}
}

.card{
	padding: 5px;

}

.card-block{

	padding: 5px;
}

 .card-subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #16861a;
  }

