
.navbar {
  padding: 20px;
  height: 90px;
  margin-bottom: 40px;
  background-color: rgba(250,150,170,0.1);

  .bwm-search {
    height: 35px;
    width: 300px;
    border-radius: 15px 15px 15px 15px;
  }


  .navbar-brand {
    margin-right: 30px;
    font-size: 35px;
    letter-spacing: 5px;
    color: #F44336;
    font-weight: 500;
  }

  .something{

    padding: 10px;
    border-style:  dotted ;
    border-width: 1px;
    border-radius: 35px 20px 35px 20px;
    background-color: rgba(170,50,170,0.1);
  }

  .nav-item {
    font-size: 20px;

    &:hover {

      border: dotted black 1px;
      border-radius: 10px;
      margin: 10px;
      background-color: rgba(170,50,170,0.1);
      font-weight: 550;
    }
  }


  .btn-bwm-search {
    height: 35px;
    border-radius: 10px;
    &:hover, &:focus, &:active {
      border: solid black 1px;
      border-radius: 10px;
      margin: 10px;
      background-color: transparent;
      border-color: #F44336 !important;
      color: #F44336 !important;
      box-shadow: none;
    }
  }
}